<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ps-proget-cache" value="http://psartifactory:8081/artifactory/api/nuget/ps-proget-cache" allowInsecureConnections="true" />
    <add key="ps-nuget-local" value="http://psartifactory.perfectserve.net:8081/artifactory/api/nuget/ps-nuget-local" allowInsecureConnections="true" />
    <add key="ps-nuget-dev" value="http://psartifactory:8081/artifactory/api/nuget/ps-nuget-dev" allowInsecureConnections="true" />
  </packageSources>

  <packageSourceMapping>
    </packageSourceMapping>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

</configuration>